Makefile.in
aclocal.m4
autom4te.cache/
configure
config.h.in
config.h
config.log
config.status
doc/gpa.info*
doc/stamp-vti
doc/version.texi
po/gpa.pot
po/POTFILES
stamp-h1
Makefile
.deps/

# Files created by make when not using a VPATH build
*.o
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/stamp-po
po/remove-potcdate.sed
src/gpa
src/dndtest
src/gpa-marshal.c
src/gpa-marshal.h
/gpadefs.h
