
[Desktop Entry]
Name=GNU Privacy Assistant
Name[en_US.ISO8859-1]=GNU Privacy Assistant
Exec=gpa 
Icon=/usr/share/pixmaps/gpa-logo-48x48.png
Terminal=false
MultipleArgs=false
Type=Application
