[Desktop Entry]
Name=GNU Privacy Assistant
Name[en_US.ISO8859-1]=GNU Privacy Assistant
Exec=gpa
Icon=gpa.png
Terminal=false
Encoding=UTF-8
Type=Application
Categories=GTK;Application;Security;Utility;
